/*QUESTIONS:

1. Link .Container AND .Items (in App.css) to affect
change in Container.js

2. Check if Flexbox (flex-directino: row) now works?

3. How to resize/remove image white borders?


  

*/
.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 27vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* this  */
.room {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.currentBookCase {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  background-color:#35393e;
  border-radius: 5px;
  padding: 10px;
}

.haveBookCase {
  background-color: #35393e;
  width: 50%;
  border-radius: 5px;
  padding: 10px;


}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  align-items: center;
  color: white;
  background-color: #35393e;
  font-size: 19px;
  font-weight:400;
  padding: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

/* to this  */

h1 {
  color: #61dafb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: rgb(35, 34, 34);
  background-color: #4eafca;
  padding: 7px;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: weight 700px;
  font-size: xx-large;
}

img {
  height: 300px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.App-link {
  color: #61dafb;
}
/*    color: #939798;
 */