
.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 27vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.room {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.currentBookCase {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  background-color:#35393e;
  border-radius: 5px;
  border:#873838 0.1px solid;
  padding: 10px;
}

.haveBookCase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 70px;
  background-color: #35393e;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  border:#2e7386 0.1px solid;
}

.haveRead-El {
  background-color: #61dafb;
  color: #282c34;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  align-items: center;
  color: white;
  background-color: #35393e;
  font-size: 19px;
  font-weight:400;
  padding: 5px;
  margin-bottom: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: #282c34;
  background-color: #cb5656;
  padding: 7px;
  padding-top: 3px;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: weight 700px;
  font-size: xx-large;
}

img {
  height: 300px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.App-link {
  color: #61dafb;
}
